{% extends 'base.html' %}

{% block admin-panel %}
    <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Создание нового
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'post_create_url' %}">Поста</a></li>
            <li><a class="dropdown-item" href="{% url 'tag_create_url' %}">Тэга</a></li>
        </ul>
    </div>
    <a class="btn btn-light edit" style="{% if detail %}display: block;{% endif %}"
        href="{{ admin_object.get_update_url}}">Редактирование</a>
    <a class="btn btn-danger delete" style="{% if detail %}display: block;{% endif %}"
        href="{{ admin_object.get_delete_url }}">Удаление</a>
{% endblock  %}
