{% extends 'blog/base_blog.html' %}

{% block title %}
    Удаление поста "{{ post.title|title }}" - {{ block.super }}
{% endblock  %}

{% block content %}
    <form action="{{ post.get_delete_url }}" method="post">
        <div>
            {% csrf_token %}
            <h3>Вы уверены, что хотите удалить пост: <b>"{{ post.title|title }}"</b>?</h3>
            <a href="{{ post.get_absolute_url }}">Отменить</a>
            <button class="btn btn-danger" type="submit" name="button">Удалить</button>
    </form>
{% endblock  %}
