{% extends 'blog/base_blog.html' %}

{% block title %}
    Удаление тега "{{ tag.title|title }}" - {{ block.super }}
{% endblock  %}

{% block content %}
    <form action="{{ tag.get_delete_url }}" method="post">
        <div>
            {% csrf_token %}
            <h3>Вы уверены, что хотите удалить тег: <b>"{{ tag.title|title }}"</b>?</h3>
            <a href="{{ tag.get_absolute_url }}">Отменить</a>
            <button class="btn btn-danger" type="submit" name="button">Удалить</button>
    </form>
{% endblock  %}
